################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Elasticsearch/.vs/Elasticsearch/v17
/src/Elasticsearch/Elasticsearch.API/obj/Release/net7.0
*.vsidx
